 <body style="background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/20a6d4b3-8297-4225-a231-aabf783f671c/d9rgo2g-3680fccb-5367-457b-a1bc-e83d9a575359.png');"> 
<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>

</body>